:root{
    --top-pos: 5.71307vh;
    --standard-radius: calc((25/937)*100vh);
    --border-radius: 0 0 var(--standard-radius) var(--standard-radius);
    /* i regret i didn't use scss for this :( */
}

/* change z-index on active dropdown? */
.dropdown-modes{
    position:absolute;
    top: var(--top-pos);;
    /* 54px for top */
    left:-1px;
    width:auto;
    z-index: 7;
    background-color: #E23E57;
    border-radius: var(--border-radius);
    /* padding: 0 35px; */
    animation-duration: 0.4s;
    animation-name: ondropdown;
}

.dropdown-customize{
    position:absolute;
    top: var(--top-pos);
    left: calc(158/937*100vh);
    width:calc(465/937*100vh);
    z-index: 7;
    background-color: #E23E57;
    border-radius: var(--border-radius);
    animation-duration: 0.4s;
    animation-name: ondropdown;
}

.dropdown-difficulty{
    position:absolute;
    top: var(--top-pos);
    left: calc(347/937*100vh);
    width:auto;
    z-index: 7;
    background-color: #E23E57;
    border-radius: var(--border-radius);
    animation-duration: 0.4s;
    animation-name: ondropdown;
}

.dropdown-about{
    position:absolute;
    top: var(--top-pos);;
    left: calc(287/937*100vh);;
    width:auto;
    z-index: 7;
    background-color: #E23E57;
    border-radius: var(--border-radius);
    animation-duration: 0.4s;
    animation-name: ondropdown;
}

.dropdown-modes .menuItem {
    margin: calc(29/937*100vh) calc(40/937*100vh);
}

.dropdown-customize .menuItem {
    margin: calc(29/937*100vh) calc(25/937*100vh);
}

.dropdown-difficulty .menuItem {
    margin: calc(29/937*100vh) calc(30.06/937*100vh);
}

.dropdown-about .menuItem {
    width: calc(350/937*100vh);
    margin: calc(29/937*100vh) calc(32/937*100vh);
}

.menuItem:hover{
    cursor: pointer;
    color: #ffb7c3;
    transition: color 0.2s linear 0.1s;
}

.dropdown-about .menuItem:hover{
    cursor:auto;
    color:white;
}

.dropdown-customize .menuItem:hover{
    cursor:auto;
    color:white;
}

.dropdown-customize .menuItem{
    display: flex;
    align-items: center;
}

.dropdown .menuItem:nth-of-type(1){
    margin-top: 1.334vh;
}


@keyframes ondropdown {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

#gamemodeSelected{
    color: #311D3F;
    transition: color 0.2s linear 0.1s;
}
#diffSelected{
    color: #311D3F;
    transition: color 0.2s linear 0.1s;
}