.GameArea {
    position: relative;
    text-align: center;
    background-color: #fafafa;
    width: 64vh;
    height: 64vh;
    margin: 0 auto;
    border: 1.06vh #311D3F solid;
    border-radius: 3.73vh;
    cursor:crosshair;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .target{
    position:absolute;
    width: 5.336vh;
    height: 5.336vh;
    z-index:5;
    background-color: #E23E57;
    border-radius: 50%;
  }
  .gameStart{
    position: absolute;
    width: 30.9498vh;
    height: 7.7908vh;
    z-index: 5;
    display:flex;
    flex-direction: column;
  }
  .startButton{
    font-style: normal;
    font-weight: 400;
    font-size: 3.842vh;
    color: rgba(49, 29, 63, 0.83);
    justify-content: center;
    align-items: center;
  }

  .startButton:hover{
    cursor: pointer;
    color: #E23E57;
  }

  .accuracyCounter{
    position:absolute; 
    width:100%;
    height:100%;
    z-index:3;
  }

  .tip{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5613vh;
    color: rgba(49, 29, 63, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accuracy{
    position: absolute;
    left: 2.347vh;
    bottom: calc(64/937*100vh);
    font-size: calc(24/937*100vh);
    color: rgba(49, 29, 63, 0.13);
  }

  .score{
    position: absolute;
    left: 2.347vh;
    bottom: 2.347vh;
    font-size: calc(36/937*100vh);
    color: rgba(49, 29, 63, 0.13);
  }

  .timer{
    position: absolute;
    right: 2.347vh;
    bottom: 2.347vh;
    font-size: calc(36/937*100vh);
    color: rgba(49, 29, 63, 0.13);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: auto;
    color:#311D3F;
    font-size: 28px;
    z-index: 1;
    animation-duration: 0.4s;
    animation-name: tooltip-animation;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 15vh;
    background-color: #311D3F;
    font-size: 1.7vh;
    color: #fff;
    text-align: center;
    padding: 1.5vh;
    border-radius: calc((25/937)*100vh);
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    animation-duration: 0.4s;
    animation-name: tooltip-animation;
  }

  @keyframes tooltip-animation {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}