.Nav{
    position: relative;
    display: flex;
    margin:0 auto 4.055vh auto;
    height: 5.763vh;
    width: 74.7065vh;
    background-color: #311D3F;
    border-radius: 3.73vh;
    justify-content: center;
    align-items: center;
}
