@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App{
  text-align: center;
  margin: auto;
  font-family:'Fredoka One';
}

.appHeader{
  font-style: normal;
  font-weight: 400;
  font-size: 10.24546vh;
  color: #311D3F;
  margin:1.6vh;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #311D3F;
  color: white;
  height: 2.3vh;
  font-size:calc(16/937*100vh);
}

.github-link{
  color:white;
}