@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App{
  text-align: center;
  margin: auto;
  font-family:'Fredoka One';
}

.appHeader{
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  color: #311D3F;
  margin:6px;
}